@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-size: 20px;
}

@font-face {
  font-family: 'LX-mono';
  src: url('../fonts/LXMono.ttf');
}

body {
  font-family: 'LX-mono';
  font-size: 24px;
}

#root {
  height: 100dvh;
}

@media screen and (min-width: 640px) {
  /* body {
    font-size: 24px;
  } */
}

@media screen and (min-width: 768px) {
  body {
    font-size: 28px;
  }
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 32px;
  }
}

@media screen and (min-width: 1280px) {
  body {
    font-size: 36px;
  }
}

@media screen and (min-width: 1536px) {
  body {
    font-size: 48px;
  }
}
